
.input{
    margin: 10px;

}


.errorInput {
    border: 2px solid red;
    border-radius: 15px;
    padding: 7px;
    background-color: red;
}

.errorInputOn {
    border: 1px solid black;
    border-radius: 15px;
    padding: 7px;
    background: red;
}

.error {
    color: red;
    padding: 10px;
    background-color: lightgoldenrodyellow;
    border-radius: 15px;
}

.superInput{
    border: 2px solid grey;
    border-radius: 15px;
    padding: 7px;
    background: wheat;
}